$mainTextColor: #000000;
$blackColor: #000000;
$greyTextColor: #e0e8ea;
$greyPointColor: #e0e8ea;

$maxWidth: 1920;
$maxWidthConteiner: 1170;

@mixin adaptiv-value($property, $startSize, $minSize, $type) {
	$addSize: $startSize + $minSize;
	@if $type==1 {
		#{$property}: $startSize + px;
		@media (max-width:#{$maxWidthConteiner + px}) {
			#{$property}: calc(#{$minSize + px}+#{$addSize} * ((100vw - 320px) /#{$maxWidthConteiner - 320}));
		}
	} @else if $type==2 {
		#{$property}: $startSize + px;
		@media (min-width:#{$maxWidthConteiner + px}) {
			#{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) /#{$maxWidth - 320}));
		}
	} @else {
		#{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
	}
}

//-----------------------------------Прелоадер
$Loader-color: #fff;
$Loader-size: 2.19rem;
$Loader-offset: 0.26rem;
$Loader-timing: ease-in-out;

.loaderConteiner {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
}
.loader {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	max-width: $Loader-size;
	max-height: $Loader-size;
	margin-top: $Loader-size/2;
	margin-bottom: $Loader-size/2;
	&:before,
	&:after {
		content: "";
		position: absolute;
		border-radius: 50%;
		animation-duration: 1.8s;
		animation-iteration-count: infinite;
		animation-timing-function: $Loader-timing;
		filter: drop-shadow(0 0 $Loader-offset/2.25 rgba($Loader-color, 0.75));
	}
	&:before {
		width: 100%;
		padding-bottom: 100%;
		box-shadow: inset 0 0 0 $Loader-offset $Loader-color;
		animation-name: pulsA;
	}
	&:after {
		width: calc(100% - #{$Loader-offset}* 2);
		padding-bottom: calc(100% - #{$Loader-offset}* 2);
		box-shadow: 0 0 0 0 $Loader-color;
		animation-name: pulsB;
	}
}

@keyframes pulsA {
	0% {
		box-shadow: inset 0 0 0 $Loader-offset $Loader-color;
		opacity: 1;
	}
	50%,
	100% {
		box-shadow: inset 0 0 0 0 $Loader-color;
		opacity: 0;
	}
}

@keyframes pulsB {
	0%,
	50% {
		box-shadow: 0 0 0 0 $Loader-color;
		opacity: 0;
	}
	100% {
		box-shadow: 0 0 0 $Loader-offset $Loader-color;
		opacity: 1;
	}
}

//-----------------------------------

@import "_zeroing";

@font-face {
	font-family: "SFUIDisplay";
	src: url("../fonts/SFUIDisplayRegular.eot");
	src:
		url("../fonts/SFUIDisplayRegular.eot") format("embedded-opentype"),
		url("../fonts/SFUIDisplayRegular.woff2") format("woff2"),
		url("../fonts/SFUIDisplayRegular.woff") format("woff"),
		url("../fonts/SFUIDisplayRegular.ttf") format("truetype"),
		url("../fonts/SFUIDisplayRegular.svg") format("svg");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "IntegralCF";
	src: url("../fonts/IntegralCF-Bold.eot");
	src:
		url("../fonts/IntegralCF-Bold.eot") format("embedded-opentype"),
		url("../fonts/IntegralCF-Bold.woff2") format("woff2"),
		url("../fonts/IntegralCF-Bold.woff") format("woff"),
		url("../fonts/IntegralCF-Bold.ttf") format("truetype"),
		url("../fonts/IntegralCF-Bold.svg") format("svg");
	font-weight: 700;
	font-style: Bold;
}

a,
a:visited {
	color: $mainTextColor;
}
html,
body {
	height: 100%;
	//overflow: hidden;
}
body {
	font-family: "SFUIDisplay";
	font-weight: 400;
	color: $mainTextColor;
	font-size: 1rem;
	line-height: 1.5;
	background: rgb(0, 0, 0);
}
.main_preloader {
	position: fixed;
	display: flex;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	z-index: 1;
	justify-content: center;
	align-items: center;
	pointer-events: none;
	background-color: $blackColor;
	transition-duration: 1s;
	transition-timing-function: ease-in;
}
.closeMainLogo {
	transform: translate(0px, -100%);
	//display: none;
}
.burger {
	position: fixed;
	top: 0vw;
	right: 0vw;
	width: 40px;
	height: 40px;
	z-index: 4;
	transition-duration: 0.5s;
	transition-timing-function: ease-in-out;
	background-color: $greyTextColor;
	visibility: hidden;
}
.plus {
	position: relative;
	width: 30px;
	height: 30px;
	margin: 5px 0px 0px 5px;
	cursor: pointer;
	transition-duration: 0.5s;
	transition-timing-function: ease-in-out;

	&__gor {
		height: 8px;
		position: absolute;
		top: 11px;
		background-color: $blackColor;
		width: 100%;
	}

	&__vert {
		width: 8px;
		position: absolute;
		left: 11px;
		background-color: $blackColor;
		height: 100%;
	}
}
.openPlus {
	transform: rotate(-405deg);
}

body._touch .burger {
	visibility: visible;
}
body._pc .popUp .burger {
	visibility: visible;
}
body._pc .menu {
	position: fixed;
	display: inline-flex;
	justify-content: flex-end;
	align-items: flex-end;
	//height: 2.67rem;
	top: 3vh;
	right: 0;
	font-family: "IntegralCF";
	font-weight: 700;
	color: $mainTextColor;
	font-size: 1rem;
	line-height: 1;
	background: rgb(0, 0, 0);

	pointer-events: auto;
	z-index: 4;
}
body._pc .menu__conteiner {
	display: inline-block;
	position: relative;
}
body._pc .menuBg {
	position: absolute;
	top: 0px;
	right: 0px;
	background-color: $greyTextColor;
	width: 100%;
	height: 100%;
	z-index: 0;
}

body._pc .menu__list {
	display: flex;
	overflow: hidden;
	z-index: 2;
}
body._pc .menu__link {
	position: relative;
	padding-top: 0.13rem;
	list-style: none;
	margin: 0.67rem 1.33rem 0.67rem 1.33rem;
	cursor: pointer;
	z-index: 2;
}
body._pc .menu__list li:last-child {
	margin: 0.67rem 3vh 0.67rem 1.33rem;
}
.menu__link a {
	display: inline-block;
	//margin-right: -0.27rem;
}
.menu__link-line {
	width: 0%;
	height: 0.15rem;
	background-color: $mainTextColor;
	margin: 0 auto;
	//margin-top: 0.13rem;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}
body._pc .openLineMenu {
	width: 100%;
}
body._touch .menu__conteiner {
	//visibility: hidden;
}
body._touch .menu__conteiner {
	position: fixed;
	width: auto;
	height: auto;
	top: 0;
	left: 0;
	transition: top 0.5s ease-in-out 0s;
	z-index: 4;
}
body._touch .menuBg {
	position: absolute;
	top: -100%;
	right: 0px;
	width: 100%;
	height: 100%;
	//z-index: 5;
	transition: top 500ms ease-in-out;
	background-color: $greyTextColor;
}
body._touch .menu__link {
	position: relative;
	top: 2rem;
	padding-top: 2rem;
	list-style: none;
	margin: 0.67rem 1.33rem 0.67rem 1.33rem;
	cursor: pointer;
	transition-duration: 0.3s;
	transition-timing-function: ease-in-out;
	z-index: 6;
	color: $mainTextColor;
	font-family: "IntegralCF";
	font-weight: 700;
	font-size: 1rem;
	line-height: 1;
	visibility: hidden;
}
body._touch .openMenuBg {
	top: 0;
}
body._touch .menu__list {
	display: flex;
	width: 100%;
	height: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	z-index: 2;
}
body._touch .menu__link {
	opacity: 0;
	font-size: 4rem;
}
body._touch .menuLink_open {
	visibility: visible;
	top: 0px;
	opacity: 1;
}
body._touch .openLineMenu {
	width: 0%;
}

.wrapper {
	overflow: hidden;
}
.main {
	position: fixed;
	min-height: 100vh;
	min-width: 100vw;
	display: flex;
	flex-direction: column;
	background: rgb(0, 0, 0); /* Old browsers */
	&__logo {
		position: absolute;
		width: 10vw;
		height: 5vw;
		top: 3vh;
		left: 3vh;
		z-index: 2;
	}
	@media (orientation: portrait) {
		&__logo {
			width: 10vh;
			height: 5vh;
			top: 3vw;
			left: 3vw;
		}
	}
	&__video {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: 1;
	}
}

.main-background__video {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.empty {
	position: relative;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	margin: 0 0 0 0;
	z-index: 2;
}
.about {
	position: relative;
	min-height: 100vh;
	min-width: 100vw;
	display: flex;
	flex-direction: column;
	//padding: 6vh 0 3vh 0;
	background: #e0e8ea url("../img/img.jpg") bottom right no-repeat;
	background-size: auto 100%;
	z-index: 2;
	overflow: hidden;

	&__conteiner {
		//width: 100%;
		min-height: 88vh;
		position: relative;
		margin: 6vh 3vh 6vh 3vh;
		//background: url("img/img.jpg") bottom right no-repeat;
		//background-size: auto 100%;
	}
	&__title {
		color: $mainTextColor;
	}
	&__main-text {
		width: 29vw;
		margin-top: 2vh;
	}
	&__text-conteiner {
		width: 29vw;
	}
	&__text-block {
		margin-top: 3vh;
		width: 29vw;
		display: inline-flex;
	}
	&__text-title {
		width: 9vw;
		font-family: "IntegralCF";
		font-weight: 700;
		line-height: 1;
		line-height: 1.5;
		font-size: 1rem;
	}
	&__text-text {
		width: 20vw;
	}

	&__image {
		visibility: hidden;
	}
	& ul li {
		margin-bottom: 0.5rem;
	}
	@media (max-aspect-ratio: 1250/900) {
		background: #e0e8ea url("../img/img.jpg") bottom left no-repeat;
		background-size: auto 100%;
	}
	@media (max-aspect-ratio: 1173/939) {
		&__main-text {
			width: 32vw;
			margin-top: 2vh;
		}
		&__text-conteiner {
			width: 32vw;
		}
		&__text-block {
			margin-top: 3vh;
			width: 32vw;
			display: inline-flex;
		}
		&__text-title {
			width: 10vw;
			font-family: "IntegralCF";
			font-weight: 700;
			line-height: 1;
			line-height: 1.5;
			font-size: 1rem;
		}
		&__text-text {
			width: 22vw;
		}
	}
	@media (max-aspect-ratio: 1000/939) {
		&__main-text {
			width: 36vw;
			margin-top: 2vh;
		}
		&__text-conteiner {
			width: 36vw;
		}
		&__text-block {
			margin-top: 3vh;
			width: 36vw;
			display: inline-flex;
		}
		&__text-title {
			width: 11vw;
			font-family: "IntegralCF";
			font-weight: 700;
			line-height: 1;
			line-height: 1.5;
			font-size: 1rem;
		}
		&__text-text {
			width: 25vw;
		}
	}
	@media (orientation: portrait) {
		font-size: 1.2rem;
		background: #e0e8ea;

		&__conteiner {
			display: flex;
			flex-direction: column;
			margin: 6vw 3vw 6vw 3vw;
			min-height: calc(100vh - 12vw);
			//background: url("img/img.jpg") bottom right no-repeat;
			//background-size: auto 100%;
		}
		&__main-text {
			width: 94vw;
			margin-top: 2vw;
		}
		&__text-conteiner {
			width: 94vw;
			z-index: 2;
		}
		&__text-block {
			display: flex;
			flex-direction: column;
			margin-top: 3vw;
			width: 94vw;
		}
		&__text-title {
			font-size: 1.2rem;
			width: 94vw;
		}
		&__text-text {
			width: 94vw;
		}
		& ul li {
			margin-bottom: 0.2rem;
		}
		&__image {
			flex: auto;
			background: #e0e8ea url("../img/img.jpg") bottom no-repeat;
			background-size: auto 100%;
			visibility: visible;
			margin: -10vw -3vw -6vw -3vw;
		}
	}
}
.pagetitle {
	font-family: "IntegralCF";
	font-weight: 700;
	line-height: 1;
	font-size: 4.27rem;
}

.download {
	&__conteiner {
		display: flex;
		position: absolute;
		left: 0px;
		bottom: 0px;
		justify-content: space-between;
		gap: 0.67rem;
	}

	&__text {
		line-height: 1;
	}
	body._touch &__text a {
		line-height: 1;
		cursor: pointer;
		background-image: linear-gradient($mainTextColor, $mainTextColor);
		background-position: 50% 100%;
		background-repeat: no-repeat;
		background-size: 100% 0.133rem;
	}
	body._pc &__text a {
		line-height: 1;
		cursor: pointer;
		background-image: linear-gradient($mainTextColor, $mainTextColor);
		background-position: 50% 100%;
		background-repeat: no-repeat;
		background-size: 0% 0.133rem;
		transition-duration: 0.2s;
		transition-timing-function: ease-in-out;
	}
	body._pc &__text a:hover {
		background-size: 100% 0.133rem;
	}
	&__icon {
		display: inline-block;
		cursor: pointer;
	}
	&__icon img {
		position: relative;
		height: 1rem;
		transform: scale(1);
		transition-duration: 0.2s;
		transition-timing-function: ease-in-out;
	}
	body._pc &__icon:hover img {
		transform: scale(1.2);
	}
}
.works {
	position: relative;
	width: 100%;
	min-height: 100vh;
	z-index: 2;
	padding: 6vh 3vh 6vh 3vh;
	background: rgb(0, 0, 0);
	overflow: hidden;
	&__title {
		color: $greyTextColor;
	}
	&__conteiner {
		display: flex;
		justify-content: space-evenly;
		flex-wrap: wrap;
		margin-top: 6vh;
		overflow: hidden;
		//gap: 20px;
	}
}
.banner {
	position: relative;
	width: 300px;
	height: 600px;

	//margin-bottom: 2rem;
}
.bannerImg {
	position: absolute;
	width: 300px;
	height: 600px;
	top: 0px;
	left: 0px;
	z-index: 1;
}
.bannerPlayBtn {
	position: absolute;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 300px;
	height: 600px;
	top: 0px;
	left: 0px;
	background-color: rgba($color: #000000, $alpha: 0.2);
	z-index: 2;
	cursor: pointer;
	& img {
		width: 100px;
		height: 100px;
		opacity: 0.5;
		transform: scale(1);
		transition-duration: 0.2s;
		transition-timing-function: ease-in-out;
	}
	body._pc &:hover {
		background-color: rgba($color: #000000, $alpha: 0);
		transition-duration: 0.2s;
		transition-timing-function: ease-in-out;
	}
	body._pc &:hover img {
		opacity: 0.8;
		transform: scale(1.2);
	}
}
iframe {
	width: 300px;
	height: 600px;
	position: absolute;
	z-index: 1;
	margin: 0px;
	top: 0px;
	left: 0px;
	overflow: hidden;
}

.bannerStopBtn {
	position: absolute;
	width: 300px;
	height: 600px;
	top: 0px;
	left: 0px;
	cursor: pointer;
	z-index: 2;
}
.moreBanners {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: 0.67rem;
	position: absolute;
	width: 100%;
	bottom: 0px;
	background-color: rgba($color: #000000, $alpha: 0.6);
	line-height: 1.3;
	z-index: 3;
	padding: 0.5rem;
	color: $greyTextColor;
}

.moreBanners a {
	cursor: pointer;
	background-image: linear-gradient($greyTextColor, $greyTextColor);
	background-position: 50% 100%;
	background-repeat: no-repeat;
	background-size: 0% 0.133rem;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
	color: $greyTextColor;
}
body._pc .moreBanners a:hover {
	background-size: 100% 0.133rem;
}
.moreBanners img {
	display: inline-block;
	height: 1rem;
	transform: scale(1);
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
	cursor: pointer;
}
body._pc .moreBanners img:hover {
	transform: scale(1.2);
}
body._touch .moreBanners {
	font-size: 1.5rem;
}
body._touch .moreBanners img {
	height: 1.5rem;
}
.loadMore {
	&__conteiner {
		display: flex;
		position: relative;
		align-items: center;
		justify-content: center;
		margin: 2rem 0px 0px 0px;
	}

	&__button {
		border: 0.133rem solid $greyTextColor;
		padding: 0.5rem 3rem 0.5rem 3rem;
		cursor: pointer;
		transition-duration: 0.1s;
	}
	body._touch &__button {
		font-size: 1.5rem;
		border: 0.133rem solid $greyTextColor;
		padding: 0.5rem 3rem 0.5rem 3rem;
		cursor: pointer;
		transition-duration: 0.1s;
	}
	&__button span {
		color: $greyTextColor;
		background-image: linear-gradient($blackColor, $blackColor);
		background-position: 50% 100%;
		background-repeat: no-repeat;
		background-size: 0% 0.133rem;
		transition-duration: 0.3s;
		transition-timing-function: ease-in-out;
	}
	body._pc &__button:hover {
		background-color: $greyTextColor;
	}
	body._pc &__button:hover span {
		color: $blackColor;
		background-size: 100% 0.133rem;
	}
}

.popUp {
	position: fixed;
	display: block;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba($color: $blackColor, $alpha: 1);
	z-index: 5;
	text-align: right;
	visibility: hidden;
	overflow-y: auto;
	overflow-x: hidden;
	transform: translate(100%, 0px);
	transition-duration: 0.5s;
	transition-timing-function: ease-out;
	padding-bottom: 3.3rem;
	//cursor: pointer;
	&__main-conteiner {
		display: block;
		min-height: 100%;
		padding-top: 3.3rem;
	}
	&__conteiner {
		display: flex;

		justify-content: space-evenly;
		flex-wrap: wrap;
		margin: 0px 6.7rem 0px 3.3rem;
		padding-bottom: 3.3rem;
		//gap: 2rem;
	}
}

.closeArea {
	position: fixed;
	width: 100%;
	min-height: 100%;
	//position: absolute;
	top: 0;
	left: 0;
}
.activePopUp {
	visibility: visible;
	transform: translate(0px, 0px);
}
.contacts {
	position: relative;
	min-height: 100vh;
	min-width: 100vw;
	display: flex;
	flex-direction: column;
	z-index: 2;
	overflow: hidden;
	background-color: #e0e8ea;

	&__conteiner {
		//width: 100%;
		min-height: 88vh;
		position: relative;
		margin: 6vh 3vh 6vh 3vh;
	}
	&__title {
		color: $mainTextColor;
	}
	&__text {
		font-family: "IntegralCF";
		font-weight: 700;
		line-height: 1.5;
		font-size: 3.2rem;
		color: $mainTextColor;
		text-align: center;
		margin-top: 15vh;
	}
	&__content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin-top: 6rem;
	}
	&__block {
		display: flex;
		justify-content: center;
	}
	&__email {
		display: flex;
		justify-content: space-between;
		//gap: 20px;
		margin: 1.33rem;
		line-height: 1;
		font-size: 2rem;
		width: 25rem;
	}
}
.email__text a {
	background-image: linear-gradient($mainTextColor, $mainTextColor);
	background-position: 50% 100%;
	background-repeat: no-repeat;
	background-size: 0% 0.2rem;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}
.email__text a:hover {
	background-size: 100% 0.2rem;
}
.block__conteiner {
	display: flex;
	justify-content: space-between;
	//gap: 20px;
	margin: 1.33rem;
	width: 27rem;
}

.email__icon img {
	height: 2rem;
	transform: scale(1);
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}
.email__icon:hover img {
	transform: scale(1.2);
}
.contacts__icon {
	justify-content: center;
	align-items: center;
}

.contacts__img {
	height: 4.4rem;
	//transform: scale(0);
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}
.contacts__img:hover {
	transform: scale(1.2);
}

.footer {
	position: absolute;
	display: block;
	width: 100%;
	bottom: 0;
	padding: 1.33rem 0rem 1.33rem 0rem;
	text-align: center;
	background-color: $blackColor;
	font-family: "SFUIDisplay";
	font-weight: 400;
	color: $greyTextColor;
	font-size: 1rem;
}
